$clrBlack: #363c4a;
$clrTextInactive: #666666;
$clrBg: #fcfcf8;
$clrLightGrey: #c4c4c4;
$clrUltraLightGrey: #f0f2ec;
$clrExtraLightGrey: #dedede;
$clrGreen: #5ba641;
$clrButton: #7abf62;
$clrButtonPressed: #46922b;
$clrLinkBorder: rgba(91, 166, 65, 0.3);
$clrPagination: #f5d58f;
$clrCardBg: #fbfcfa;
$linkClr: #225db7;

$shadowCard: 0 5px 20px rgba(47, 61, 2, 0.1);
$shadowCardHover: 0 10px 30px rgba(47, 61, 2, 0.15);
