<div class="listing_title">

	{% if seo.h1 != '' %}
		<h1>{{seo.h1 | raw}}</h1>
	{% endif %}

	<div data-listing-text-top>
		{% if seo.text_top != '' %}
			{# {{seo.text_top | raw}} #}
			{# <p>В&nbsp;случае непогоды по периметру закрываются шторы, которые не пропускают воду и ветер, и предоставляются газовые и электронные обогреватели. Понтон содержит отдельный подъезд и личную парковку на 20 машиномест, собственно что выделяет ему превосходство перед другими площадками.</p> #}
		{% endif %}
	</div> 

</div>