<div class="listing_title">

    <h1>Рестораны для выпускного в Санкт-Петербурге</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore commodi eos ab, atque harum facere quod ea sequi libero nam placeat reprehenderit debitis repellendus in hic ipsa voluptate obcaecati veniam. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa optio delectus, dolor iste magnam reprehenderit accusantium sunt provident quod. Quae, vitae illum? Id, officiis reprehenderit quisquam mollitia deserunt quasi nobis?</p>

</div>