.calendar_container {
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	position: absolute;
	top: 30px;
	left: 0px;
	height: auto;
	background: white;
	box-shadow: 0px 5px 20px rgba(47, 61, 2, 0.1);
	border-radius: 5px;
	z-index: 10;
	color: #333333;

	&._room {
		align-items: center;
	}

	.calendar {
		width: 373px;
		height: auto;
		padding: 20px 30px 24px 15px;

		&:before {
			content: "";
			position: absolute;
			top: -8px;
			right: 30px;
			width: 16px;
			height: 16px;
			transform: rotate(45deg);
			background: white;
		}

		.fc-toolbar.fc-header-toolbar {
			padding: 0 0 20px 0;
			margin: 0 0 0 0;

			.fc-left {
				text-transform: capitalize;
			}

			.fc-right {
				margin-left: auto;
			}
		}

		.fc-left {
			h2 {
				padding: 0 0 0 14px;
				font-weight: 500;
				font-size: 16px;
				line-height: 26px;
			}
		}

		.fc-row.fc-widget-header {
			padding: 0 0 18px 0;
		}

		.fc-day-header {
			font-size: 11px;
			font-weight: 500;
		}

		.fc-button-group {
			padding: 0 8px 0 0;
			top: -2px;
		}

		.fc-button.fc-button-primary {
			padding: 0;
			background-color: transparent;
			border-color: transparent;
		}

		.fc-footer-toolbar {
			margin-top: 0;
		}

		.fc-icon {
			position: relative;

			&:before {
				content: "";
				position: absolute;
				top: 5px;
				left: 2px;
				width: 22px;
				height: 16px;
				background: url(/image/arrow-right.svg);
				background-size: contain;
			}

			&:hover {
				&::before {
					background: url(/image/arrow-right-active.svg);
				}
			}
		}

		.fc-icon.fc-icon-chevron-left {
			&:before {
				transform: rotate(180deg);
				left: 0;
			}
		}

		td.fc-today {
			border: none;
		}

		td {
			border: none;

			&:before {
				content: "";
				display: none;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 32px;
				height: 32px;
				border-radius: 50%;
				border: 1px solid #f79122;
			}

			:hover::before {
				display: block;
			}
		}

		.fc-dayGrid-view .fc-body .fc-row {
			min-height: 10px;
		}
		.fc-scroller.fc-day-grid-container {
			height: auto !important;
			padding: 0 0 2px 0 !important;
			overflow-y: hidden !important;
		}

		.fc-row.fc-week.fc-widget-content {
			height: 33px !important;
		}

		.fc-content-skeleton {
			padding-bottom: 0;

			.fc-day-top {
				cursor: pointer;
				position: relative;
				height: 33px;
			}

			.fc-other-month {
				.fc-day-number {
					text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				}
			}

			.fc-free-day {
				color: #5ba641;

				&:before {
					content: "";
					position: absolute;
					top: -1px;
					left: 3px;
					width: 33px;
					height: 33px;
					border: 1px solid #5ba641;
					border-radius: 17px;
					z-index: -1;
				}
			}

			.fc-selected-date {
				color: white;

				&:before {
					content: "";
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 32px;
					height: 32px;
					border-radius: 50%;
					background: #ff5214;
					z-index: -1;
				}
			}

			table {
				margin-top: 1px;

				thead {
					td.fc-day-top {
						text-align: center;
						vertical-align: middle;

						.fc-day-number {
							float: none;
						}
					}
				}
			}
		}

		&.fc-unthemed {
			td.fc-today {
				background-color: transparent;
			}
		}
	}

	.fc-booking-button {
		cursor: pointer;
		width: 155px;
		height: 36px;
		margin-bottom: 25px;
		border: 1px solid #d83603;
		border-radius: 5px;
		font-weight: 500;
		font-size: 14px;
		line-height: 22px;

		&:active {
			color: black;
		}
	}

	.calendar_checkbox {
		font-weight: 500;
		font-size: 14px;
		line-height: 22px;
	}

	.checkbox_item {
		display: none;
	}

	@include for-mobile {
		left: -74px;

		.calendar {
			width: 290px;
			padding: 20px 15px 20px;

			&:before {
				left: 45px;
			}

			.fc-content-skeleton {
				.fc-selected-date:before {
					left: 3px;
				}
			}
		}

		.checkbox_item {
			padding: 0 0 20px 25px;
		}
	}
}
