.filter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // width: 879px;
  width: 272px;
  // padding: 23px 50px 23px;
  padding: 24px 16px 32px;
  // background: linear-gradient(139.76deg,
  //                                #FEDA5A 0.69%,
  //                                #FFBA35 112.92%);
  align-items: flex-start;
  margin: 0 auto;
  border-radius: 4px;
  // box-shadow: 0 5px 20px rgba(253, 172, 77, 0.3);

  @include for-lowlap {
    width: 282px;
  }

  // @include for-notdesc{
  //     flex-wrap: wrap;
  // }

  // @include for-pad{
  //     padding: 10px 17px 25px;
  //     flex-direction: column;
  //     align-items: flex-start;
  //     width: 700px;
  // }

  @include for-mobile {
    // padding: 16px 20px 23px;
    width: 288px;
    padding: 24px 0;
    margin: 0 auto;
    height: 100vh;
  }

  .filter_select-checkbox-wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;

    @include for-pad {
      justify-content: flex-start;

      .filter_select:nth-child(3) {
        margin-right: 0px;
      }
    }

    @include for-mobile {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
    }

    .filter_select {
      cursor: pointer;
      width: 240px;
      // margin-right: 20px;

      @include for-pad {
        width: 208px;
        margin-top: 20px;
      }

      @include for-mobile {
        width: 100%;
        margin-top: 10px;
      }
    }

    // .filter_select:nth-child(4) {
    //   width: 135px;

    //   @include for-mobile {
    //     width: 100%;
    //     margin: 10px 0 0;
    //   }
    // }

    .filter_select.middle_chek {
      width: 144px;
    }

    .filter_select:not(:last-child) {
      margin-bottom: 16px;
    }

    .filter_label {
      cursor: initial;
      font-size: 16px;
      // font-weight: 500;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0.01em;
      margin-bottom: 4px;
    }

    .filter_select_block {
      position: relative;

      &._active {
        .filter_select_list {
          display: block;
        }

        .filter_select_current:after {
          transform: rotate(-135deg);
          top: 17px;
        }
      }
    }

    .filter_select_block[data-type="chelovek"] {
      .filter_select_current {
        width: 144px;
      }

      .filter_select_list {
        width: 144px;
        min-width: unset;

        .filter_select_item {
          width: 144px;
        }
      }
    }

    .filter_input_block {
      position: relative;

      input {
        height: 39px;
        line-height: 39px;
        white-space: nowrap;
        box-shadow: inset 0 1px 2px rgba(140, 140, 140, 0.5);
        border-radius: 2px;
        padding: 0 16px 0 16px;
        background: #fff;
        position: relative;
        overflow: hidden;
        width: 100%;
      }
    }

    .filter_select_current {
      box-shadow: inset 0px 2px 2px 0px rgba(118, 125, 134, 0.1);
      border-radius: 4px;
      padding: 14px 8px;
      height: 48px;
      border: 1px solid #dadee1;
      white-space: nowrap;
      background: white;
      position: relative;
      overflow: hidden;

      &:after {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        border-right: 2px solid $clrLightGrey;
        border-bottom: 2px solid $clrLightGrey;
        border-radius: 2px;
        // transform: rotate(45deg);
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        right: 12px;
        z-index: 2;
      }

      p {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 8px;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        letter-spacing: 0.01em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: calc(100% - 16px);
      }
    }

    .filter_select_list {
      display: none;
      position: absolute;
      min-width: 100%;
      top: calc(100% - 2px);
      padding: 12px 0 12px;
      background-color: white;
      // border: 1px solid $clrLightGrey;
      border: 1px solid #dadee1;
      border-radius: 4px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      cursor: initial;
      z-index: 3;
    }

    .filter_select_item {
      padding: 0 15px 0 15px;
      white-space: nowrap;
      cursor: pointer;

      &:hover {
        background: $clrGreen;

        p {
          color: white;
        }
      }

      &._active {
        background: $clrUltraLightGrey;

        &:hover p {
          color: $clrBlack;
        }
      }

      p {
        font-weight: 500;
        line-height: 36px;
      }
    }

    .filter_check {
      height: 26px;
      padding-left: 22px;
      position: relative;
      cursor: pointer;
      white-space: nowrap;
      margin: 15px 15px 0 0;

      @include for-pad {
        width: calc((100% / 3) - 10px);
      }

      @include for-mobile {
        width: 100%;
        margin: 20px 15px 0 0;
      }

      &:before {
        background: transparent;
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        border: 1px solid #b3b6be;
        border-radius: 2px;
        left: 0;
        top: 0;
      }

      &:after {
        content: "";
        position: absolute;
        width: 5px;
        height: 9px;
        left: 6px;
        transform: rotate(45deg);
        top: 5px;
        will-change: transform;
      }

      &._checked:after {
        border-bottom: 2px solid #d83603;
        border-right: 2px solid #d83603;
      }

      // .filter_check_item {
      //   position: relative;
      //   top: -3px;
      // }

      p {
        // font-weight: 500;
        // font-size: 16px;
        // line-height: 26px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.01em;
      }
    }

    .input_wrapper {
      input {
        width: 135px;
        padding: 0 20px 0 16px;
        line-height: 40px;
        background-color: white;
        box-shadow: inset 0px 1px 2px rgba(140, 140, 140, 0.5);
        border-radius: 2px;
        font-size: 16px;
        font-weight: 500;
      }

      .calendar_wrapper {
        position: relative;
      }

      .open_calendar_button {
        position: absolute;
        top: -40px;
        left: 0;
        width: 135px;
        height: 40px;

        &:before {
          content: "";
          cursor: pointer;
          position: absolute;
          top: 9px;
          right: 10px;
          width: 20px;
          height: 20px;
          background: url("/img/calendar_icon.svg");
        }

        &:hover:before {
          background: url("/img/calendar_icon_active.svg");
        }
      }

      .open_calendar_button._active {
        &:before {
          background: url("/img/calendar_icon_active.svg");
        }
      }

      .calendar_container {
        top: -2px;
        left: 77px;

        @include for-pad {
          left: 0px;

          .calendar:before {
            left: 106px;
          }
        }

        @include for-mobile {
          left: -20px;

          .calendar:before {
            left: 127px;
          }
        }
      }
    }

    .filter_checkbox {
      display: flex;
      flex-flow: row wrap;
      margin-bottom: 14px;

      > .filter_label {
        width: 100%;
      }

      .filter_check {
        margin-top: 0;
        padding-left: 20px;
        display: flex;
        // align-items: center;

        &::before {
          border-radius: 50%;
          top: 4px;
        }
      }
    }
  }

  .filter_calendar {
    margin-bottom: 16px;
    .input_wrapper {
      .input_label {
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        letter-spacing: 0.01em;
        margin-bottom: 4px;
      }

      input {
        width: 144px;
        box-shadow: inset 0 2px 2px 0 rgba(118, 125, 134, 0.1);
        border-radius: 4px;
        padding: 14px 8px;
        height: 48px;
        border: 1px solid #dadee1;
        white-space: nowrap;
        background: #fff;
        position: relative;
        overflow: hidden;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        letter-spacing: 0.01em;
      }

      .calendar_wrapper {
        .open_calendar_button {
          top: -48px;
          width: 144px;
          height: 48px;

          &:before {
            top: 14px;
            background: url("/image/calendar_icon.svg");
          }
        }

        .calendar_container {
          left: 0;
          top: 12px;
          box-shadow: 0 2px 23px #b7b7b7;

          .calendar {
            &:before {
              right: unset;
              left: 12px;
              // box-shadow: 0 -2px 23px #b7b7b7;
              box-shadow: -12px -12px 23px 0 #b7b7b7;
            }
          }
        }
      }
    }
  }

  .filter_submit {
    @include for-pad {
      margin: 20px auto 0;
    }
  }

  .filter_submit {
    margin: 32px 0 16px;

    @include for-mobile {
      // margin-top: 20px;
      // width: 100%;
      position: fixed;
      top: calc(100vh - 119px);
      left: 0px;
      display: flex;
      justify-content: center;
      background-color: #fff;
      padding: 16px calc((100% - 288px) / 2);
      width: 100%;
      margin: 0 auto;
      box-sizing: border-box;
      border-top: 1px solid #dadee1;
      // box-shadow: 0px 2px 2px 0px rgba(118, 125, 134, 0.1) inset;
      box-shadow: 0px -5px 20px 0px rgba(15, 4, 61, 0.1);
      z-index: 2;
    }

    .filter_submit_button {
      // margin: 32px 0 16px;
      width: 240px;
      text-align: center;
      padding: 14px 0;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 00.01em;
      font-weight: 700;
      color: #fff;
      background: radial-gradient(
          ellipse at center,
          #df4200 70%,
          transparent calc(70% + 3px)
        ),
        radial-gradient(
          ellipse at center,
          #ec4900 70%,
          transparent calc(70% + 3px)
        ),
        #fe5200;
      background-size: 340px 130px;
      background-position: 50% -113px, 50% -87px;
      background-repeat: no-repeat;

      &:hover {
        background: radial-gradient(
            ellipse at center,
            #f2470a 70%,
            transparent calc(70% + 3px)
          ),
          radial-gradient(
            ellipse at center,
            #f84c0e 70%,
            transparent calc(70% + 3px)
          ),
          #ff5214;
        background-size: 340px 130px;
        background-position: 50% -113px, 50% -87px;
        background-repeat: no-repeat;
      }

      @include for-laptop {
        width: 254px;
      }

      @include for-pad {
        margin: 0;
      }

      @include for-mobile {
        margin: 0;
        width: 100%;
        text-align: center;
      }
    }

    ._button {
      border-radius: 4px;
    }
  }

  .filter_cancel {
    margin: auto;

    @include for-mobile {
      position: fixed;
      top: calc(100vh - 37px);
      left: 0px;
      display: flex;
      justify-content: center;
      background-color: #fff;
      width: 100%;
      margin: 0 auto;
      box-sizing: border-box;
    }

    .filter_cancel_button {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.01em;
      color: #225db7;
      border-bottom: 1px dashed #225db7;
    }
  }
}
