.form_wrapper.booking {
	position: relative;
	width: 944px;
	margin: auto;
	background-color: #004171;
	background-image: url(/image/form_bg.png);
	// background-image: url(/image/form_bg.svg);
	background-size: 1112px, 496px;
	background-repeat: no-repeat;
	background-position: -85px -12px;
	color: #fff;
	// overflow: hidden;

	// &:before {
	// 	content: "";
	// 	position: absolute;
	// 	top: -50px;
	// 	left: -200px;
	// 	width: 270px;
	// 	height: 277px;
	// 	background: url("/img/filter_pad_bg/form_Left_branch.png");
	// 	background-repeat: no-repeat;
	// 	z-index: -1;
	// }

	// &:after {
	// 	content: "";
	// 	position: absolute;
	// 	top: 0px;
	// 	right: -210px;
	// 	width: 270px;
	// 	height: 277px;
	// 	background: url("/img/filter_pad_bg/form_Right_branch.png");
	// 	background-repeat: no-repeat;
	// 	z-index: -1;
	// }

	@include for-pad {
		&:before {
			top: 65px;
			left: -120px;
		}

		&:after {
			top: 130px;
			right: -120px;
		}
	}

	@include for-notdesc {
		width: calc(100vw - 32px);
		max-width: 944px;
		// margin: 0 16px;
		height: fit-content;
		// background-size: 867px, 496px;
		// background-position: -85px -12px;
	}

	@include for-lowlap {
		overflow: hidden;
	}

	@include for-laptop {
		background-size: 113vw 496px;
		background-position: -66px -22px;
	}

	@include for-mobile {
		width: 100%;
		margin: 0;
		background-size: 867px 496px;
		background-position: -66px 368px;

		&:before {
			content: none;
		}

		&:after {
			content: none;
		}
	}

	.form_image_left {
		position: absolute;
		width: 424px;
		height: 440px;
		background: url(/image/hat.png);
		background-size: cover;
		top: 32px;
		left: -198px;
		z-index: -1;

		@include for-notdesc {
			display: none;
		}
	}

	.form_image_right {
		position: absolute;
		width: 289.62px;
		height: 349.43px;
		background: url(/image/attestat.png);
		background-size: cover;
		top: 60px;
		left: 845px;
		z-index: -1;

		@include for-notdesc {
			display: none;
		}
	}

	.form_block {
		display: flex;
		flex-flow: row wrap;

		.form_inputs {
			display: flex;
			flex-flow: row nowrap;
			order: 1;
			width: 784px;
			margin-bottom: 12px;

			&:first-child {
				.input_wrapper {
					&:last-child {
						@include for-mobile {
							width: 50%;
							min-width: 164px;
							margin-top: 35px;
						}
					}
				}
			}

			&:nth-child(2) {
				margin-bottom: 21px;
			}

			.input_wrapper {
				position: relative;
				width: 176px;

				&:not(:first-child) {
					@include for-mobile {
						margin-top: 12px;
					}
				}

				&:first-child {
					width: 220px;

					@include for-notdesc {
						width: 22%;
						min-width: 164px;
					}

					@include for-mobile {
						width: 100%;
					}

					input {
						width: 220px;
						border-radius: 4px;

						@include for-notdesc {
							width: 100%;
							min-width: 164px;
						}

						@include for-mobile {
							width: 100%;
						}
					}
				}

				&:last-child {
					width: 167px;

					input {
						width: 167px;
						border-radius: 4px;

						@include for-notdesc {
							width: 100%;
							min-width: 164px;
						}

						@include for-mobile {
							width: 100%;
						}
					}

					@include for-notdesc {
						width: 21%;
						min-width: 164px;
					}

					@include for-mobile {
						width: 100%;
					}
				}

				&.comment {
					width: 784px;

					// input {
					//   border-radius: 4px;
					//   width: 784px;
					//   height: 130px;

					//   @include for-notdesc {
					//     width: 100%;
					//     height: 9%;
					//     min-height: 114px;
					//   }
					// }

					textarea {
						width: 784px;
						height: 130px;
						border-radius: 4px;
						background-color: #fff;
						resize: none;
						padding: 14px 8px;

						font-size: 14px;
						letter-spacing: 0.01em;
						color: #363C4A;

						@include for-notdesc {
							width: 100%;
							height: 9%;
							min-height: 114px;
						}
					}

					@include for-notdesc {
						width: 100%;
					}
				}

				input {
					background: white;
					width: 176px;
					border-radius: 4px;

					@include for-notdesc {
						width: 100%;
						min-width: 164px;
					}

					@include for-mobile {
						width: 100%;
					}
				}

				.open_calendar_button {
					position: absolute;
					top: 28px;
					left: 0;
					width: 167px;
					height: 48px;

					&:before {
						content: "";
						cursor: pointer;
						position: absolute;
						top: 14px;
						right: 5px;
						width: 20px;
						height: 20px;
						background: url("/image/calendar_icon.svg");
					}

					@include for-notdesc {
						width: 100%;
					}
				}

				@include for-mobile {
					width: 100%;
					margin: 0;

					&:first-child {
						width: 100%;

						input {
							width: 100%;
						}
					}

					&:last-child {
						width: 100%;

						input {
							width: 100%;
						}
					}

					input {
						width: 100%;
					}
				}

				@include for-notdesc {
					width: 22%;
					min-width: 164px;
				}

				@include for-mobile {
					width: 100%;
				}
			}

			@include for-notdesc {
				width: 100%;
			}

			@include for-mobile {
				flex-direction: column;
			}
		}

		.form_checkboxes {
			display: flex;
			flex-direction: row;
			order: 3;
			width: 784px;

			@include for-notdesc {
				margin-top: 0;
				justify-content: space-between;
			}

			// .checkbox_pseudo {
			//   padding-bottom: 8px;
			// }
		}

		.form_submit_booking {
			display: flex;
			flex-direction: row;
			align-items: center;
			order: 2;
			// padding-top: 24px;

			.checkbox_item {
				// padding-top: 4px;
				display: flex;
				padding-left: 22px;
				margin: 0;

				.checkbox_pseudo {
					font-family: "FiraSans", sans-serif;
					font-size: 12px;
					line-height: 20px;
					font-weight: 400;
					letter-spacing: 0.02em;

					// font-size: 14px;
					// line-height: 20px;
					// font-weight: 400;
					// letter-spacing: 0.01em;

					@include for-notdesc {
						font-size: 12px;
						line-height: 20px;
						letter-spacing: 0.02em;
					}

					@include for-mobile {
						display: inline;
					}
				}

				@include for-mobile {
					display: block;
					padding-top: 14px;
				}

				._link:hover {
					color: #fff;
				}
			}

			button {
				// width: 196px;
				// height: 48px;
				width: 193px;
				height: 50px;
				padding: 0 20px;
				margin-right: 16px;

				@include for-notdesc {
					width: 192px;
					font-size: 14px;
					line-height: 20px;
					letter-spacing: 0.01em;
				}
			}

			@include for-mobile {
				flex-direction: column;
				align-items: flex-start;

				button {
					width: 193px;
				}
			}
		}

		@include for-notdesc {
			flex-flow: row wrap;
			justify-content: space-between;
		}

		@include for-mobile {
			width: 100%;
		}
	}

	.form_inputs {
		&:nth-child(2) {
			// margin-top: -12px;

			@include for-notdesc {
				margin-top: 11px;
			}

			@include for-lowlap {
				margin-top: 23px;
			}
		}
	}

	.input_notification {
		position: absolute;
		top: calc(100% + 4px);
		font-size: 12px;
		line-height: 20px;
		letter-spacing: 0.02em;
		color: #B8BECB;
		// margin-top: 4px;
	}
}

.content_block.form_booking_wrapper.popup_form {
	.form_wrapper.booking {
		@include for-notdesc {
			// position: absolute;
			// top: 50%;
			// transform: translateY(-50%);
		}
	}
}
