header {
	position: fixed;
	width: 100vw;
	top: 0px;
	left: 0px;
	background: white;
	box-shadow: 0px 3px 6px rgba(3, 49, 52, 0.06);
	z-index: 100;
	background: #ffcc01;

	display: flex;
	align-items: center;
	min-height: 96px;
	padding: 10px 0;

	@include for-pad {
		min-height: 90px;
	}

	@include for-laptop {
		min-height: 66px;
	}

	.header_wrap {
		display: flex;
		justify-content: center;
		width: 100%;
		height: 100%;
		padding: 0px;

		align-items: center;

		.header_logo {
			display: flex;
			align-items: center;
			margin-left: 40px;

			@include for-laptop {
				padding-top: 0;
				margin-left: 16px;
			}

			@include for-mobile {
				margin-left: 13px;
			}

			.header_logo_img {
				width: 40px;
				height: 48px;
				background: url(/image/header_owl.svg);
				background-repeat: no-repeat;
				background-size: contain;
				transition: filter 0.2s ease;
				margin-right: 14px;

				@include for-laptop {
					margin-right: 14px;
				}

				@include for-mobile {
					margin-right: 8px;
				}
			}

			.header_logo_text {
				color: #363c4a;
				font-size: 32px;
				font-weight: 700;

				margin-top: -5px;

				@include for-laptop {
					// padding-top: 15px;
				}

				@include for-mobile {
					// padding-top: 12px;
				}

				div {
					margin-bottom: 3px;

					@include for-laptop {
						margin-bottom: 5px;
						line-height: 24px;
					}

					@include for-mobile {
						font-size: 16px;
						line-height: 16px;
						margin-bottom: 1px;
					}

					&:first-of-type {
						white-space: nowrap;
					}

					&:last-of-type {
						color: #363c4a;
						font-size: 12px;
						font-weight: 400;
						letter-spacing: 0.03em;
						margin-bottom: 0;

						@include for-laptop {
							font-size: 9px;
							line-height: 9px;
							letter-spacing: 0.01em;
						}

						@include for-mobile {
							line-height: 12px;
						}
					}
				}

				@include for-pad {
					white-space: nowrap;

					&span {
						white-space: nowrap;
					}
				}

				@include for-laptop {
					font-size: 24px;
					line-height: 24px;
					margin-top: 0;
				}

				@include for-mobile {
					width: 44vw;
					display: flex;
					flex-direction: column;
				}
			}
		}

		.header_callback_button {
			width: 172px;
			height: 48px;
			display: flex;
			flex-flow: row nowrap;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			position: relative;
			border: none;
			border-radius: 4px;

			background: radial-gradient(ellipse at center, rgb(223, 66, 0) 70%, transparent calc(70% + 3px)),
				radial-gradient(ellipse at center, rgb(236, 73, 0) 70%, transparent calc(70% + 3px)), #fe5200;
			background-size: 256px 127px;
			background-position: 50% -113px, 50% -87px;
			background-repeat: no-repeat;
			color: black;
			font-size: 14px;
			font-weight: 700;

			flex: 0 0 172px;
			margin-right: auto;

			@include for-lowdesc {
				order: 3;
				margin: 0 76px 0 0;
			}

			@include for-notdesc {
				height: 40px;
				background-position: 50% -113px, 50% -93px;
			}

			@include for-mobile {
				padding: 0;
				height: 40px;

				display: none;
			}

			&:hover {
				background: radial-gradient(ellipse at center, rgb(242, 71, 10) 70%, transparent calc(70% + 3px)),
					radial-gradient(ellipse at center, rgb(248, 76, 14) 70%, transparent calc(70% + 3px)), #ff5214;
				background-size: 256px 127px;
				background-position: 50% -113px, 50% -87px;
				background-repeat: no-repeat;

				@include for-notdesc {
					background-position: 50% -113px, 50% -93px;
				}
			}

			&:active {
				background: radial-gradient(ellipse at center, #a52f07 70%, transparent calc(70% + 3px)),
					radial-gradient(ellipse at center, #a52f07 70%, transparent calc(70% + 3px)), #ba1904;
				background-size: 256px 127px;
				background-position: 50% -113px, 50% -87px;
				background-repeat: no-repeat;

				@include for-notdesc {
					background-position: 50% -113px, 50% -93px;
				}
			}

			&._inactive {
				background: #dadee1;
				color: #b3b6be;
				cursor: initial;
			}

			& > p {
				text-align: center;
				line-height: 20px;
				font-size: 14px;
				font-weight: 700;
				color: #fff;
				letter-spacing: 0.01em;
			}
		}

		.header_menu_wrapper {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin: 0 auto;

			justify-content: center;
			flex-wrap: wrap;
		}

		.header_menu {
			display: flex;
			width: 100%;

			align-items: center;

			.header_city_select {
				position: relative;
				cursor: pointer;
				font-style: normal;
				font-weight: 500;
				font-size: 16px;
				line-height: 26px;
				margin-top: auto;

				&:after {
					content: "";
					position: absolute;
					width: 8px;
					height: 8px;
					border-right: 2px solid #363c4a;
					border-bottom: 2px solid #363c4a;
					border-radius: 2px;
					transform: rotate(45deg);
					z-index: 2;

					top: 6px;
					right: -14px;
				}

				&._active {
					&::before {
						content: "";
						position: absolute;
						bottom: -22px;
						right: 22px;
						width: 16px;
						height: 16px;
						transform: rotate(45deg);
						background: #fff;

						@include for-lowdesc {
							display: none;
						}
					}

					&::after {
						top: 9px;
						transform: rotate(225deg);
					}
				}

				span {
					display: block;
					white-space: nowrap;
					font-size: 14px;
					line-height: 20px;
					font-weight: 700;
					letter-spacing: 0.01em;
				}

				@include for-lowdesc {
					display: none;
				}

				@include for-notdesc {
					align-self: flex-start;
					top: -10px;
				}
			}

			.city_select_search_wrapper {
				position: absolute;
				top: 89px;
				right: 201px;
				width: 771px;
				max-height: calc(100vh - 60px);
				padding: 24px 40px 50px 24px;
				background: white;
				border-radius: 4px;
				box-shadow: 0px 5px 20px rgba(47, 61, 2, 0.1);
				overflow-y: auto;

				@include for-lowdesc {
					z-index: 10;
					overflow-y: unset;
					left: calc(100% - 282px);
					top: 96px;
					height: calc(100vh - 96px);
					max-height: unset;
					width: 282px;
					border-radius: 0;
					padding: 16px 16px 0 12px;
				}

				@include for-notdesc {
					top: 90px;
					height: calc(100vh - 90px);
				}

				@include for-laptop {
					top: 66px;
					height: calc(100vh - 66px);
				}

				.back_to_header_menu {
					display: none;

					@include for-lowdesc {
						position: relative;
						display: block;
						cursor: pointer;
						padding-left: 20px;
						margin-bottom: 16px;
					}

					span {
						line-height: 24px;
						letter-spacing: 0.01em;
						border-bottom: 1px dashed #363c4a;
					}
				}

				.back_to_header_menu::before {
					content: "←";
					position: absolute;
					top: 0;
					left: 0;
					width: 16px;
					height: 24px;
				}

				.city_select_title {
					padding-bottom: 12px;
					font-weight: bold;
					font-size: 20px;
					line-height: 24px;

					@include for-lowdesc {
						font-size: 18px;
						padding-bottom: 8px;
					}

					@include for-mobile {
						font-weight: 700;
						font-size: 18px;
						line-height: 24px;
					}
				}

				.city_name_input {
					position: relative;
					margin-bottom: 22px;

					@include for-lowdesc {
						margin-bottom: 16px;
					}

					input {
						width: 268px;
						box-shadow: 0px 2px 2px 0px rgba(118, 125, 134, 0.1) inset;
						padding: 10px 8px;
						border-radius: 4px;
						border: 1px solid #dadee1;
						font-size: 14px;
						line-height: 20px;
						letter-spacing: 0.01em;
						font-weight: 400;

						@include for-lowdesc {
							width: 254px;
						}

						@include for-mobile {
							width: 100%;
						}
					}

					input::-webkit-input-placeholder {
						color: #363c4a;
					}
				}

				.city_name_input::before {
					content: "";
					position: absolute;
					top: 8px;
					left: 236px;
					width: 24px;
					height: 24px;
					background: url("/image/search_loupe.svg");

					@include for-lowdesc {
						left: 222px;
					}

					@include for-mobile {
						left: calc(100% - 33px);
					}
				}

				.city_select_list {
					display: flex;
					flex-flow: column wrap;
					height: 588px;
					align-content: space-between;
					padding-left: 15px;

					@include for-lowdesc {
						flex-flow: column nowrap;
						overflow-y: scroll;
						padding-left: 20px;
					}

					.city_select_letter_block {
						position: relative;
						width: 154px;

						margin-bottom: 4px;

						@include for-lowdesc {
							margin-bottom: 15px;
							max-width: unset;
						}

						.capital_letter {
							position: absolute;
							left: -15px;
							font-size: 14px;
							font-weight: 400;
							line-height: 20px;
							letter-spacing: 0.01em;
							color: #797c88;

							@include for-lowdesc {
								left: -20px;
								font-size: 16px;
								line-height: 24px;
								margin-right: 8px;
							}
						}

						p {
							width: 100%;
							font-size: 14px;
							font-weight: 400;
							line-height: 20px;
							letter-spacing: 0.01em;
							cursor: pointer;
							color: #363c4a;

							@include for-lowdesc {
								font-size: 16px;
								line-height: 24px;
							}

							&:hover {
								color: #0d91f0;
							}

							&._active {
								font-weight: 700;
								color: #df4200;
							}
						}

						.city_name {
							display: inline-block;
							margin-bottom: 8px;

							&._bold {
								font-weight: 700;
							}
						}

						.city_list {
							display: flex;
							flex-direction: column;

							.city_name {
								width: 100%;
								font-size: 14px;
								font-weight: 400;
								line-height: 20px;
								letter-spacing: 0.01em;
								cursor: pointer;
								color: #363c4a;

								&:hover {
									color: #0d91f0;
								}

								&:active {
									font-weight: 700;
									color: #363c4a;
								}

								&:not(:last-child) {
									margin-bottom: 8px;
								}

								@include for-lowdesc {
									font-size: 16px;
									line-height: 24px;
								}
							}
						}
					}
				}

				@include for-mobile {
					left: 0;
					width: 320px;
					height: calc(100vh - 66px);
					padding: 16px 12px 0 12px;
					z-index: 10;

					&:before {
						content: none;
					}

					.back_to_header_menu {
						cursor: pointer;
						display: block;

						&:before {
							content: "←";
							position: absolute;
							top: 0px;
							left: 0px;
						}
					}

					h4 {
						padding: 0 0 8px;
					}

					.city_select_list {
						flex-flow: column nowrap;
						overflow-y: scroll;
						height: calc(100% - 110px);
					}
				}

				@include for-mobile {
					width: 100%;
				}
			}

			& > .header_city_select {
				display: none;
			}

			@include for-notdesc {
				& > .header_city_select {
					display: block;
					align-self: auto;
					top: auto;
				}
			}
		}

		.header_menu_wrapper {
			@include for-lowdesc {
				order: 3;
				margin: 0 76px 0 0;
				max-height: 96px;
				transition: max-height 0.15s ease;

				display: none;
			}

			@include for-mobile {
				display: none;
			}

			.header_menu_item {
				position: relative;
				font-size: 14px;
				font-weight: 700;
				line-height: 24px;
				letter-spacing: 0.05em;
				color: #333333;
				text-transform: uppercase;
				margin: 0 20px;

				&._no_wide_screen {
					display: none;
				}

				@include for-notdesc {
					&._no_wide_screen {
						display: block;
					}
				}

				@media (max-width: 1800px) {
					margin: 0 8px;
				}

				@include for-lowdesc {
					position: absolute;
					background: white;
					justify-content: flex-start;
					width: 282px;
					margin-right: 0;
					top: 0;
					// right: 0;
					left: calc(100% - 282px);
					transform: translateY(96px);
					opacity: 0;
					transition: opacity 0.3s ease;
					pointer-events: none;
					color: #fff;

					z-index: 5;
					padding-bottom: 15px;

					&:not(:last-child) {
						// margin-bottom: 15px;
					}

					.header_city_select {
						&._active {
							display: none;
						}
					}
				}

				&:before {
					content: "";
					position: absolute;
					transition: transform 0.25s ease;
				}

				&:before {
					left: 0;
					bottom: 0;
					width: 100%;
					height: 4px;
					background: #ff5214;
					transform: scaleX(0);
				}

				&:hover:before {
					transform: scaleX(1);
				}

				&:active {
					color: #ff5214;
				}

				&._active {
					color: #ff5214;
				}
			}
		}

		.header_phone {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-between;
			min-width: 302px;
			min-height: 62px;
			margin-right: 40px;
			margin-left: 10px;

			@include for-lowdesc {
				order: 2;
				min-width: auto;
				min-height: auto;
				margin: 0 24px 0 auto;
			}

			@include for-notdesc {
				// margin-right: 24px;
				// padding-top: 16px;
			}

			@include for-laptop {
				// padding-top: 22px;
			}

			& > a {
				font-size: 32px;
				color: #363c4a;
				font-weight: 700;
				line-height: 40px;
				white-space: nowrap;

				margin-bottom: 1px;

				@include for-laptop {
					margin-bottom: 0px;
				}

				@include for-notdesc {
					font-size: 20px;
					line-height: 24px;
				}

				@include for-mobile {
					display: none;
				}
			}

			p._link {
				color: #333333;
				border-bottom: 1px dashed rgba(51, 51, 51, 0.5);
			}

			.header_phone_button {
				display: flex;
				flex-flow: row nowrap;
				text-align: right;
				margin-top: -2px;
				width: fit-content;
				cursor: pointer;
				position: relative;

				@include for-mobile {
					display: none;
				}

				& > p {
					height: 21px;
					text-align: right;
					line-height: 25px;
					font-size: 16px;
					font-weight: 500;
				}

				&:before {
					position: absolute;
					content: "";
					top: -2px;
					left: -30px;
					width: 30px;
					height: 31px;
					background: url("/img/ny_ball.svg");
					background-size: contain;
				}
			}
		}

		.header_burger {
			display: none;
			position: absolute;
			width: 32px;
			height: 24px;
			right: 16px;
			cursor: pointer;
			overflow: hidden;

			top: 50%;
			transform: translateY(-50%);

			@include for-lowdesc {
				display: block;
			}

			@include for-notdesc {
				// top: 32px;
			}

			@include for-laptop {
				// top: 22px;
				right: 17px;
			}

			@include for-mobile {
				right: 12px;
			}

			div {
				width: 32px;
				height: 2px;
				border-radius: 2px;
				background: #363c4a;
				position: absolute;
				top: 0px;
				left: 0px;
				transition: transform 0.3s ease;
			}

			div:nth-child(1) {
				transform: translate(0px, 0px);
			}

			div:nth-child(2) {
				transform: translate(0px, 10px);
			}

			div:nth-child(3) {
				transform: translate(0px, 20px);
			}
		}

		.header_form_popup {
			position: fixed;
			top: 0;
			left: 0;
			padding: 50px 0 0 0;
			display: flex;
			justify-content: center;
			overflow-y: scroll;
			width: 100%;
			min-height: 100%;
			background: rgba(0, 0, 0, 0.8);
			z-index: 1000;

			&._hide {
				display: none;
			}

			.header_form_popup_content {
				position: relative;
				border-radius: 5px;

				.close_button {
					position: absolute;
					top: 10px;
					right: 10px;
					cursor: pointer;
					width: 30px;
					height: 30px;
					background: url("/img/korporativ-ng/close_icon_popup.svg");
				}
			}

			@include for-mobile {
				padding: 15px 0 0 0;

				.form_wrapper.callback {
					margin: 0;
				}
			}
		}
	}

	&._active {
		.header_phone {
			// margin-right: 272px;
		}

		.header_burger {
			div:nth-child(1) {
				transform: translate(0px, 11px) rotate(45deg);
			}

			div:nth-child(2) {
				transform: translate(0px, 11px) rotate(-45deg);
			}

			div:nth-child(3) {
				transform: translate(0px, 50px);
			}
		}

		.header_menu_wrapper {
			position: absolute;
			top: 96px;
			left: calc(100% - 282px);
			margin: 0;
			padding: 54px 12px 0;
			background: #fff;
			display: flex;
			width: 282px;
			flex-direction: column;
			flex-wrap: nowrap;
			opacity: 1;
			pointer-events: initial;
			height: 100vh;
			max-height: calc(100vh - 96px);
			align-items: flex-start;

			overflow-y: scroll;
			justify-content: flex-start;

			.header_menu_item {
				position: static;
				opacity: 1;
				border-bottom: 0;
				transform: none;
				color: #363c4a;
				margin-right: 0;

				width: 100%;
				margin-left: 0;

				&::before {
					display: none;
				}
			}

			@include for-notdesc {
				top: 90px;
				max-height: calc(100vh - 90px);
			}

			@include for-laptop {
				top: 66px;
				max-height: calc(100vh - 66px);
			}

			@include for-mobile {
				width: 100vw;
				left: unset;
			}
		}

		.header_phone {
			.header_city_select {
				display: block;
				position: absolute;
				top: 112px;
				left: calc(100% - 270px);

				&::after {
					border-right: 2px solid #b3b6be;
					border-bottom: 2px solid #b3b6be;
				}

				@include for-laptop {
					top: 82px;
				}

				@include for-mobile {
					left: 12px;
					margin-left: 0;
				}
			}
		}
	}

	&.filter_active {
		.header_burger {
			div:nth-child(1) {
				transform: translate(0px, 11px) rotate(45deg);
			}

			div:nth-child(2) {
				transform: translate(0px, 11px) rotate(-45deg);
			}

			div:nth-child(3) {
				transform: translate(0px, 50px);
			}
		}
	}
}
