.listing_title {
  width: 752px;
  margin: 0 auto 32px;
  text-align: center;

  h1 {
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.06em;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 8px;

    @include for-laptop {
      width: 70%;
      margin: auto;
      font-size: 28px;
      font-weight: 700;
      line-height: 36px;
      letter-spacing: 0.03em;
      margin-bottom: 0;
    }

    @include for-mobile {
      font-size: 24px;
      line-height: 30px;
    }
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;

    @include for-laptop {
      font-size: 14px;
      line-height: 20px;
    }
  }

  @include for-laptop {
    width: 100%;
    margin: 0 auto 16px;
  }
}

.items_list_listing {
  // margin-top: 30px;

  // @include for-mobile{
  //     margin: 5px 0px 0px;
  // }

  .items_list {
    display: flex;
    flex-wrap: wrap;
    width: 848px;
    justify-content: space-between;

    em {
      background: rgba(122, 207, 207, 0.35);
      border-radius: 3px;
      padding: 0 3px;
    }

    @include for-laptop {
      width: calc(100vw - 32px);
      margin: 0 auto;
      max-width: 848px;
    }

    @include for-mobile {
      width: calc(100vw - 24px);
      min-width: 296px;
      flex-direction: column;
      align-items: center;
    }
  }

  .item {
    // width: calc((100% / 2) - 30px);
    width: calc((100% / 2) - 8px);
    // margin: 15px;
    background-color: white;
    height: auto;
    display: flex;
    flex-direction: column;
    // transition: box-shadow 0.2s ease;
    // border-bottom: none !important;
    // border-radius: 5px;
    border-radius: 4px;

    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 16px;
    }

    &:not(:last-child) {
      @include for-mobile {
        margin-bottom: 24px;
      }
    }

    &.other {
      width: calc((100% / 5) - 20px);
      margin: 10px;

      // .item_info{
      //     padding: 10px 10px 25px;
      //     height: calc(100% - 238px);
      // }

      .item_img {
        height: 238px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }
    }

    // @media (max-width: 1650px) and (min-width: 1201px) {
    //     width: calc((100% / 3) - 30px);
    // }
    // @media (max-width: 1200px) and (min-width: 768px) {
    //     width: calc((100% / 2) - 30px);
    // }
    @media (max-width: 767px) {
      width: calc((100% / 1) - 30px);
    }

    .item_img {
      width: 100%;
      // height: 302px;
      height: 240px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      box-shadow: 0px 5px 20px rgba(47, 61, 2, 0.1);

      // &:hover{
      //     box-shadow: 0px 10px 30px rgba(47, 61, 2, 0.25);
      // }

      img {
        width: 100%;
        height: 100%;
        // height: auto;
        object-fit: cover;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }

      .item_date-availability {
        position: absolute;
        top: 10px;
        left: 0;
        padding: 2px 12px 5px 10px;
        border-radius: 0 3px 3px 0;
        background: linear-gradient(135.63deg, #feda5a 0.69%, #ffba35 112.92%);
      }

      span {
        font-family: "Montserrat";
        font-size: 11px;
        line-height: 13px;
        font-weight: 500;
        color: #333333;
      }
    }

    .item_info {
      // padding: 10px 15px 25px;
      padding: 16px 16px 24px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      flex: 1;
      // min-height: 224px;

      @include for-laptop {
        padding: 16px;
      }

      @include for-mobile {
        padding: 16px 12px;
      }

      .item_info_top {
        display: flex;
        flex-direction: column;
        // align-items: center;
        align-items: flex-start;
        flex: 1;

        .item_name {
          // font-weight: bold;
          // line-height: 24px;
          // font-size: 20px;
          color: #363c4a;
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.01em;
          text-align: center;
          // padding-bottom: 2px;

          // @include for-mobile{
          //     font-size: 16px;
          //     line-height: 142.56%;
          // }
        }

        // .item_parent_name{
        //     font-weight: 500;
        //     font-size: 12px;
        //     line-height: 15px;
        //     color: #5BA641;
        //     text-align: center;
        // }

        .item_district {
          font-weight: 400;
          font-size: 12px;
          line-height: 20px;
          letter-spacing: 0.02em;
          color: #797c88;
          // text-align: center;
          margin-bottom: 4px;
        }

        .item_address {
          // font-weight: 500;
          // font-size: 12px;
          // line-height: 15px;
          // color: $clrTextInactive;
          // text-align: center;
          // text-decoration: underline dashed #225DB7;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.01em;
          color: #225db7;
          border-bottom: 1px dashed #225db7;
          margin-bottom: 8px;
        }

        // .item_horizontal_raw{
        //     border: 0;
        //     border-bottom: 1px solid #D83603;
        //     width: 60px;
        //     padding-top: 12px;
        // }

        .item_meta {
          display: flex;
          flex-wrap: wrap;
          // padding-top: 10px;
          width: 100%;
          // justify-content: center;
          margin-bottom: 12px;

          .item_meta_item {
            //width: 50%;
            // font-weight: 500;
            // font-size: 14px;
            // line-height: 22px;
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.01em;
            // white-space: nowrap;
            // padding: 0px 10px;

            @include for-mobile {
              // text-align: center;
              width: 100%;
            }

            .item_meta_label {
              font-weight: 400;
              font-size: 14px;
              line-height: 20px;
              letter-spacing: 0.01em;
              // color: $clrTextInactive;
            }

            // .item_meta_text{
            // }

            //&:last-child {
            //    padding: 0 0 0 0;
            //}
          }

          @include for-mobile {
            flex-direction: column;
            align-items: center;
          }
        }
      }
    }

    .item_additional-info {
      display: flex;
      flex-flow: column nowrap;
      position: absolute;
      // top: 10px;
      // right: 10px;
      // top: 204px;
      // right: 225px;
      top: 204px;
      left: 16px;

      // @include for-mobile{
      //     position: static;
      //     flex-flow: row nowrap;
      // }

      .item_gift-for-early-reservation {
        width: 188px;
        height: auto;
        border-radius: 3px 3px 3px 3px;
        background: url("/img/gift.svg"), #ffffff;
        background-repeat: no-repeat;
        background-position: 6px center;
        margin-bottom: 6px;
        padding: 6.5px 0 6.5px 24px;
      }

      .item_fireworks-availability {
        width: 188px;
        border-radius: 3px 3px 3px 3px;
        background: url("/img/firework.svg"), #ffffff;
        background-repeat: no-repeat;
        background-position: 5px center;
        margin-bottom: 6px;
        padding: 6.5px 0 6.5px 24px;
      }

      span {
        display: block;
        font-family: "Montserrat";
        font-size: 11px;
        line-height: 13px;
        font-weight: 500;
        color: #333333;
      }
    }

    @include for-laptop {
      width: calc(50vw - 24px);
      max-width: 416px;
    }

    @include for-mobile {
      width: calc(100vw - 24px);
      min-width: 296px;
    }
  }
}

.item_row {
  &.restaurant_own {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #797c88;
    margin-bottom: auto;

    div {
      line-height: 20px;
    }

    div:not(:last-child) {
      margin-right: 6px;
    }

    @include for-notdesc {
      flex-flow: row wrap;
      width: 87%;
      // min-height: 40px;
      align-content: space-between;
      letter-spacing: 0.02em;
    }
  }

  &.restaurant_price {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 8px;
  }

  .gray_circle {
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background-color: #797c88;
  }
}

.object_benefit {
  // position: absolute;
  // top: 204px;
  // bottom: 16px;
  // left: 16px;
  margin-bottom: 0;
  font-size: 10px;
  line-height: 14px;
  padding: 2px 8px;

  @include for-notdesc {
    height: 20px;
  }

  @include for-laptop {
    padding: 2px 12px;
  }
}

.object_reservation {
  margin-bottom: 0;
  font-size: 10px;
  line-height: 14px;
  padding: 2px 8px;

  @include for-notdesc {
    height: 20px;
  }
}

.listing_and_filter_wrapper {
  margin: 0 auto 32px !important;

  @include for-laptop {
    margin: 0 auto 24px !important;
  }

  //   @include for-mobile {
  //     margin: 0 auto 24px !important;
  //   }
}
