.seo_text {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;

	@include for-laptop {
		position: relative;
		max-height: 320px;
		overflow: hidden;
	}

	&._active {
		max-height: initial;

		.seo_text_control {
			display: none;
		}
	}

	p {
		font-size: 16px;
		letter-spacing: 0.01em;
		line-height: 24px;
		margin-bottom: 12px;

		span {
			font-size: 16px;
			line-height: 24px;
			letter-spacing: 0.01em;
		}
	}

	ul {
		padding: 7px 0 16px 34px;

		@include for-mobile {
			padding: 8px 0 16px 20px;
		}

		li {
			font-size: 16px;
			line-height: 24px;
			letter-spacing: 0.01em;
			font-weight: 400;
			padding-bottom: 16px;

			&:last-child {
				padding-bottom: 0;
			}

			&::marker {
				color: #ff5214;
			}
		}
	}

	ol {
		padding: 3px 0 16px 31px;

		@include for-notdesc {
			padding-left: 31px;
		}

		@include for-mobile {
			padding-left: 20px;
		}

		li {
			font-size: 16px;
			line-height: 24px;
			letter-spacing: 0.01em;
			font-weight: 400;
			padding-bottom: 16px;

			&:last-child {
				padding-bottom: 0;
			}
		}
	}

	h2 {
		font-weight: 700;
		font-size: 32px;
		line-height: 40px;
		text-align: left;
		color: #141417;
		margin: 15px 0 10px;

		@include for-notdesc {
			margin-top: 15px;
		}

		@include for-mobile {
			font-size: 28px;
			line-height: 32px;
			margin-top: 14px;
		}
	}

	h3 {
		font-size: 24px;
		line-height: 32px;
		font-weight: 700;
		text-align: left;
		margin: 15px 0 9px;

		@include for-notdesc {
			margin-top: 15px;
		}
	}

	h4 {
		font-size: 20px;
		line-height: 30px;
		font-weight: 700;
		text-align: center;

		@include for-mobile {
			font-size: 16px;
			line-height: 24px;
		}
	}

	.border_yellow {
		border: 2px solid #ffcc01;
		border-radius: 5px;
		padding: 15px 30px;
		margin-top: 16px;
		margin-bottom: 15px;

		@include for-notdesc {
			padding: 15px 22px;
		}

		@include for-mobile {
			padding: 15px 14px;
		}

		p {
			font-size: 16px;
			line-height: 24px;
			letter-spacing: 0.01em;
			margin-bottom: 0;
		}
	}

	.seo_text_control {
		display: none;
		justify-content: flex-start;
		align-items: flex-start;
		position: absolute;
		background: #f6f6f6;
		top: 288px;
		width: 100%;
		text-align: left;
		padding-bottom: 15px;
		padding-top: 7px;

		@include for-laptop {
			display: flex;
		}
	}
}

// [data-page-type="index"] .seo_text {
// 	.seo_text_control {
// 		background: #f6f6f6;

// 		@include for-mobile {
// 			background: #fff;
// 		}
// 	}
// }
